<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/logonP.png" height="100px" width="200px" asp-append-version="true" />
            <li class="nav-item">@await Component.InvokeAsync("CategoriaMenu")</li>

            <li class="nav-item">
                <form class="navbar-form navbar-right px-3" asp-controller="Lanche" asp-action="Search" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Procurar produto" name="searchString" value="@ViewData["searchString"]">
                    </div>
                </form>
            </li>

            <li class="nav-item">
                @if (User.IsInRole("Admin"))
                {
                    <a class="nav-link text-light" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a>
                }
            </li>

            <li class="nav-item">@await Html.PartialAsync("_LoginPartial")</li>

            <li class="nav-item">@await Component.InvokeAsync("CarrinhoCompraResumo")</li>

        </a>
        <!-- Toggler/collapsibe Button -->
        
        <!-- Collapsible content -->

    </div>
</nav>

